* {
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: #fffffe;
  }
  
  h1 {
    color: #045B57;
  }
  
  p {
    color: #3C3D42;
  }
  
  nav {
    background-color: white;
  }
  
  .nav-link {
    font-size: 18px !important;
  }

  .navbar-nav{
    background-color: lightgray;
    justify-content: center;
  }
  
  
 
  
  .custom-btn {
    background-color: #9CCD62;
    color: #fffffe;
  }
  
  .custom-btn2 {
    background-color: #68b2f7;
    color: #fffffe;
  }
  

  .title{
    white-space: nowrap; 
    word-spacing: 1rem; 
    letter-spacing: 0.5rem;
     padding-left: 40px;
  }
  
  .form-group {
    position: relative;
    margin-bottom: 1.5rem;
  }

  .form-group label {
    font-weight: bold;
    margin-bottom: .5rem;
  }



  .form-control {
    border-radius: .25rem;
    border: 1px solid #ccc;
    padding: .5rem 1rem;
  }

  .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: 0 0 8px rgba(102, 175, 233, .6);
  }

  .help-block {
    color: #d9534f;
    margin-top: .25rem;
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }

  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }

  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
  }

  .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
  }

  .mt-5 {
    margin-top: 3rem !important;
  }

 
  
  .help-block {
    color: red;
  }
  
  .with-whitespace {
    white-space: pre-wrap;
  }
 
  .margin--bottom {
    margin-bottom: 2em;
  }
  
  
  
  .custom-table {
    border-collapse: collapse;
    width: 100%;
    margin: 0;
  }
  

  
  .no-padding {
    padding: 0;
  }
  

  .post h4 {
    margin-top: 0;
  }
  
  .cta-button {
    text-align: center;
    background-color: #FF9900;
    color: #FFFFFF;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  
  .stats-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .stat-box {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .post-details{
  
    background-color: lightgray;
    width: 500px;
  }


  .card-title{
    font-size: 50px;
  }

/*APARTMAN DETAIL */
  .content-apartman{
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-left: 10px;
    padding: 20px;
    }

    .edit-button{
        margin: 10px;
    }

    .booking-details ul{
        list-style-type: none;
    }

   .booking{
        margin: 20px;
        margin-left: 100px; 
        background-color: lightgray;
        padding: 30px;
        border-radius: 10px;
        height: fit-content;
    }

    .card-text2{
        margin: 10px;
    }


    #id_end_date{
        border-radius: 7px;
    }

    #id_start_date{
        border-radius: 7px;
    }

   

    .card-body b{
        margin: 10px;
    }

    .card-detail{
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card-title-detail {
        font-size: 40px;
        color: #333;
        margin: 20px;
        align-self: center;
    }

    .card-img-top {
        margin-bottom: 15px;
    }

    .card-text-detail {
        font-size: 16px;
        color: #555;
    }

    #calendar {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 70%;
        height: 600px;
       
    }

    .calendar{
        display: flex;
        flex-direction: row;
        margin: 10px;
       
  
    }

    #id_start_date{
        padding: 10px;
    }
    #id_end_date{
        padding: 10px;
    }

    #booking-form {
        margin-top: 20px;
        padding: 10px;
    }

    #booking-form h3 {
        margin-bottom: 15px;
      
    }

    #booking-form .btn-primary {
        background-color: whitesmoke;
        border-color: gray;
        color: black;
    }

    #booking-form .btn-primary:hover {
        background-color: gray;
        border-color: black;
        color: black;
    }

    .card-body-detail{
        display: flex;
        flex-direction: row;
        }

    .card-body-detail img{
        width: 50%;
        height: 50%;
    }

.modal {
    padding-top: 200px;
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 900px;
}

.modal-content, #caption {  
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.close {
    padding-top: 100px;
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* HOME */
.card-title-home {
  font-size: 35px;
  color: grey;
}

a {
  text-decoration: none;
}

.add_apartman {
  margin-top: 5px;
  margin-bottom: 20px;
}

.card-body-home img{
  border-radius: 8px;
  
}

.card-body-home{
  margin: 30px;
}

.card-wrapper{
  margin: 20px;
}

.card-home{
  border: 1px solid #ccc;
    margin: 10px;
    border-radius: 10px;
}


.background-image {
  background-size: cover;
  background-position: center;
  height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-apartman{
  margin: 40px;
}


.container{
  padding-top: 110px;
}


/*BASE*/

#myNavbar {
  backdrop-filter: blur(5px); 
  -webkit-backdrop-filter: blur(5px); 
  background-color: rgba(211, 211, 211, 0.5);
}

.nav-link{
  font-weight: bold;
}


#sort-select{
  font-size: 50px;
  font-weight: bold;
  padding-left: 30px;
  width: fit-content;
}


